<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
  </head>
  <body>

    <h1>Please Login Below to start GABBING</h1>

    <form class="" action="/login" method="post">
      <label for="">Username:</label>
      <div class="">
        <input type="text" name="username" value="">
      </div>
      <label for="">Password:</label>
      <div class="">
        <input type="password" name="password" value="">
      </div>
      <div class="">
        <button type="submit" name="button">Submit</button>
      </div>
    </form>
<div class="">
  <a href="/register">Create a New User</a>
</div>
  </body>
</html>
