.title {
  border: 1px solid red;
  margin: 2px;
}

.body {
  border: 1px solid blue;
  margin: 2px;
}

.posts {
  border: 1px solid green;
  margin: 2px;
}

.postsDiv {
  border: 1px solid green;
  margin: 2px;
}
